* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: darkgrey !important;
}

div.container {
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: double;
    border-width: 10px;
}