<app-home><</app-home>

<div class="content" role="main">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nome</th>
          <th>Responsavel pelo Projeto</th>
          <th>Carga Horario Estimada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projeto of projetos">
          <td>{{projeto.codigo}}</td>
          <td>{{projeto.nome}}</td>
          <td>{{projeto.registro_funcionario}}</td>
          <td>{{projeto.horas_estimadas}}</td>
        </tr>
      </tbody>
    </table>
  </div>