<h2>Gerênciador de Projetos</h2>
<div class="navbar" role="main">
  <div class="card-container">
    <div class="card card-small" routerLink="/register-employee" tabindex="0">
      <span>Cadastrar Funcionários</span>
    </div>

    <div class="card card-small" routerLink="/register-project" tabindex="0">
      <span>Cadastrar Projeto</span>
    </div>

    <div class="card card-small" routerLink="/list-employee" tabindex="0">
      <span>Gerenciar Funcionários</span>
    </div>

    <div class="card card-small" routerLink="/" tabindex="0">
      <span>Gerenciar Projetos</span>
    </div>

  </div>
</div>

<router-outlet></router-outlet>